@*@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
    @{
        ViewData["Title"] = "Home Page";
    }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach (var user in Model)
        {
            <li>@user.Email</li>
        }
    </ul>
</div>*@
<div>
    <h1>
        Это главная страница
    </h1>
</div>
